/*mat-toolbar {*/
/*  display: flex;*/
/*  height: 40px !important;*/
/*  padding: 10px 16px;*/
/*}*/
#formulari {
  padding: 20px;
}
.toolbar-title {
  padding-top: 10px !important;
  padding-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
/*.mat-toolbar {*/
/*  height: 56px !important;*/
/*}*/
/*.toolbar-title {*/
/*  padding-left: 10px;*/
/*  padding-top: 10px;*/
/*}*/
/*.mat-icon-button {*/
/*  padding: 0;*/
/*  min-width: 0;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  flex-shrink: 0;*/
/*  line-height: 40px;*/
/*  border-radius: 50%;*/
/*}*/
/*.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {*/
/*  box-sizing: border-box;*/
/*  position: relative;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  cursor: pointer;*/
/*  outline: none;*/
/*  border: none;*/
/*  -webkit-tap-highlight-color: transparent;*/
/*  display: inline-block;*/
/*  white-space: nowrap;*/
/*  text-decoration: none;*/
/*  vertical-align: baseline;*/
/*  text-align: center;*/
/*  margin: 0;*/
/*  min-width: 64px;*/
/*  line-height: 36px;*/
/*  padding: 0 16px;*/
/*  border-radius: 4px;*/
/*  overflow: visible;*/
/*}*/
