<!--<div class="container">-->

<!--  <div class="autentica">-->
<!--    <a mat-raised-button color="accent" href="https://www.codeusingjava.com/" target="_blank">Link</a>-->
<!--  </div>-->

<!--  <mat-card class="center">-->
<!--    <p>Dades usuari</p>-->
<!--  </mat-card>-->

<!--</div>-->

<div id="securitzat">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title>Espai securitzat</mat-card-title>
      <button mat-flat-button color="primary" (click)="loadHomeMessage()"><mat-icon>download</mat-icon>Carrega</button>
    </mat-card-header>
    <mat-card-content>
      {{homeMessage}}
    </mat-card-content>

  </mat-card>
</div>
